{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/toast.css' %}" type="text/css">
    {% block css %} {% endblock css %}

    <title>{% block title %} {% endblock title %}Sistema de simulación </title>
</head>

<body>
    {% url 'login' as route %}
    {% url 'sign-out' as route2 %}
    {% if not route == request.get_full_path %}
    {% if not route2 == request.get_full_path %}
    <header>
        {% include 'components/header.html' %}
    </header>
    {% endif %}
    {% endif %}

    <section>
        {% block content %} {% endblock content %}
    </section>

    {% if not route == request.get_full_path %}
    <footer>
        {% include 'components/footer.html' %}
    </footer>
    {% endif %}

    <script src="{% static 'js/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/toast.js' %}"></script>

    {% if messages %}
    <script>
        let config_toast = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "2500",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
    {% for message in messages %}

    {% if message.tags == "success" %}
    <script>
        toastr.success("{{ message }}", config_toast);
    </script>
    {% endif %}

    {% if message.tags == "error" %}
    <script>
        toastr.error("{{ message }}", config_toast);
    </script>
    {% endif %}

    {% endfor %}
    {% endif %}

    {% block js %} {% endblock js %}
</body>

</html>