:root {
  --cl-green: #004d40;
  --cl-green-hover: #006e5c;

  --cl-red: #d70404;

  --cl-excel: #217346;
  --cl-excel-hover: #0c9449;

  --cl-black: #232323;
  --cl-black-hover: #494949;

  --cl-cyan: #2a77a1;
  --cl-cyan-hover: #1f5979;

  --cl-purpure: #070033;
  --cl-purpure-hover: #0d015c;

  --cl-white: #ffffff;
  --cl-white-hover: #e6e6e6;

}

button[class*="active"] {
  background-color: var(--cl-green) !important;
  color: var(--cl-white) !important;
  cursor: none;
}

.btn-green {
  background-color: var(--cl-green);
  color: var(--cl-white);
}

.btn-green:hover {
  background-color: var(--cl-green-hover);
  color: var(--cl-white);
  cursor: pointer;
}

.bg-green {
  background-color: var(--cl-green);
  color: var(--cl-white);
}

.cl-green {
  color: var(--cl-green);
}

.btn-excel {
  background-color: var(--cl-excel);
  color: var(--cl-white);
}

.btn-excel:hover {
  background-color: var(--cl-excel-hover);
  color: var(--cl-white);
  cursor: pointer;
}

.btn-cyan {
  background-color: var(--cl-cyan);
  color: var(--cl-white);
}

.btn-cyan:hover {
  background-color: var(--cl-cyan-hover);
  color: var(--cl-white);
  cursor: pointer;
}

.btn-blackm {
  background-color: var(--cl-black);
  color: var(--cl-white);
}

.btn-blackm:hover {
  background-color: var(--cl-black-hover);
  color: var(--cl-white);
  cursor: pointer;
}

.btn-purpure {
  background-color: var(--cl-purpure);
  color: var(--cl-white);
}

.btn-purpure:hover {
  background-color: var(--cl-purpure-hover);
  color: var(--cl-white);
  cursor: pointer;
}

.bg-white {
  background-color: var(--cl-white);
  border: none;
}

.btn-white {
  background-color: var(--cl-white);
  cursor: none;
}

.btn-white:hover {
  background-color: var(--cl-white-hover);
  cursor: pointer;
}

td>div,
th>div {
  width: 100px;
}

.static-columns {
  position: sticky;
  left: 0;
  background-color: white !important;
  width: 325px;
}

.table> :not(caption)>*>* {
  padding: .3rem .3rem;
}

.text-truncate-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.text-truncate-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.text-truncate-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}