{% extends 'index.html' %}
{% load static %}

{% block title %}Flujo de efectivo - {% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/spinner.css' %}" type="text/css">
{% endblock css %}


{% block content %}
<div class="mt-3">
    {% csrf_token %}
    <h2 class="text-center">Flujo de efectivo</h2>
    <div id="project_id" class="d-none">
        {{proyecto.id}}
    </div>
    <div class="container-xl mt-4">
        <div class="d-flex align-items-center justify-content-between">
            <div class="filters d-flex align-items-end">
                <div class="me-3">
                    <label class="d-block" for="inversión">Inversión</label>
                    <input class="d-block" id="inversion" name="inversion" type="text"
                        onchange="return editar_inversion(this)" onkeypress="return soloNumeros(event)"
                        onkeyup="return convertDecimal(this)" value="{{proyecto.inversion}}">
                </div>
                <div class="me-3">
                    <label class="d-block" for="tasa-interes">Tasa de interés</label>
                    <input class="d-block" id="tasa_interes" name="tasa_interes" type="text"
                        onchange="return editar_tasa_interes(this)" onkeypress="return soloNumeros(event)"
                        onkeyup="return convertDecimal(this)" value="{{proyecto.tasa_interes}}">
                </div>
                <a href="{% url 'index' %}" class="btn btn-blackm me-3">Mis proyectos</a>
            </div>
            <div class="system-color p-2">
                <div class="d-flex align-items-center">
                    <div class="color-neutro"></div>
                    <span>Campos cargados no modificados</span>
                </div>
                <div class="d-flex align-items-center">
                    <div class="color-accept"></div>
                    <span>Campos guardados o modificados correctamente</span>
                </div>
                <div class="d-flex align-items-center">
                    <div class="color-error"></div>
                    <span>Campos que no fueron guardados</span>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <nav>
                <div class="nav nav-tabs" role="tablist">
                    <button class="nav-link active" id="nav-mensual-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-mensual" type="button" role="tab" aria-controls="nav-mensual"
                        aria-selected="true">Mensual</button>
                    <button class="nav-link" id="nav-anual-tab" data-bs-toggle="tab" data-bs-target="#nav-anual"
                        type="button" role="tab" aria-controls="nav-anual" aria-selected="false">Anual</button>
                </div>
            </nav>
            <div class="tab-content mb-5">
                <div class="tab-pane fade show active" id="nav-mensual" role="tabpanel"
                    aria-labelledby="nav-mensual-tab">
                    {% include 'components/tb_mensual.html' %}
                </div>
                <div class="tab-pane fade" id="nav-anual" role="tabpanel" aria-labelledby="nav-anual-tab">
                    {% include 'components/tb_anual.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="spinner">
    {% include 'components/spinner.html' %}
</div>
{% endblock content %}


{% block js %}
<script src="{% static 'js/flujo_efectivo.js' %}"></script>
{% endblock js %}