{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container-lg my-4">
    <button class="btn bg-green text-white" id="add-project" type="button" data-bs-toggle="modal"
        data-bs-target="#registre">
        <i class="fas fa-plus"></i>
        <span>Nuevo proyecto</span>
    </button>
    <div class="d-block d-md-flex justify-content-between align-items-center mt-3">
        <h3 class="cl-green">Proyectos</h3>
        <form class="search d-flex">
            <input type="search" class="form-control" style="width: 265px;" aria-label="search"
                placeholder="Ingrese el nombre del proyecto">
            <button class="btn btn-cyan" type="button">Buscar</button>
        </form>
    </div>
    <hr>
    <div class="mt-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

            {% if proyectos.count != 0 %}
            {% for proyecto in proyectos %}
            <div class="col">
                <div class="card h-100">
                    <div class="d-flex justify-content-end dropdown">
                        <button class="btn btn-white" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end mt-2">
                            <li>
                                <button class="dropdown-item edit-project" data-project-id="{{ proyecto.id }}"
                                    data-project-name="{{ proyecto.nombre }}"
                                    data-project-decription="{{ proyecto.descripcion }}" data-bs-toggle="modal"
                                    data-bs-target="#registre">
                                    <i class="fa-solid fa-pen"></i>
                                    <span>Editar</span>
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item delete-project" data-project-id="{{ proyecto.id }}"
                                    data-project-name="{{ proyecto.nombre }}">
                                    <i class="fa-solid fa-trash-can"></i>
                                    <span>Eliminar</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body ">
                        <h5 class="card-title cl-green h4">
                            <i class="fa-solid fa-lightbulb"></i>
                            <span>{{ proyecto.nombre }}</span>
                        </h5>
                        <p class="card-text">
                            <strong>Descripción: </strong>
                            <div class="text-truncate-4">
                                {{ proyecto.descripcion }}
                            </div>
                        </p>
                    </div>
                    <div class="card-footer bg-white p-0">
                        <a href="{% url 'flujo_efectivo' proyecto.id %}" class="btn btn-blackm w-100"
                            style="border-top-left-radius: 0; border-top-right-radius: 0;">
                            Ver proyecto
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-warning w-100" role="alert">
                Usted por el momento no cuenta con un proyecto en su cuenta, registra uno
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- #region Modal -->
<div class="modal fade" id="registre" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="registreLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title cl-green" id="registreLabel">Registrar un nuevo proyecto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-project" class="row g-3 needs-validation" action="{% url 'guardar-proyecto' %}"
                    method="post" novalidate>
                    {% csrf_token %}
                    <div class="row-cols-1">
                        <label for="validarNombre" class="form-label">Nombre del proyecto</label>
                        <input type="text" class="form-control" id="validarNombre" name="pr_nombre" required>
                        <div class="valid-feedback">
                            Datos correctos!
                        </div>
                        <div class="invalid-feedback">
                            Ingrese un nombre al proyecto
                        </div>
                    </div>
                    <div class="row-cols-1">
                        <label for="validarDescripcion" class="form-label">Decripción del proyecto</label>
                        <textarea class="form-control" name="pr_descripcion" id="validarDescripcion" rows="5"
                            required></textarea>
                        <div class="valid-feedback">
                            Datos correctos!
                        </div>
                        <div class="invalid-feedback">
                            Ingrese la descripción de su proyecto
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-green" id="btn-guardar" type="submit">Guardar</button>
                        <button type="button" class="btn btn-cyan" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->

{% endblock content %}

{% block js %}
<script>
    (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
<script src="{% static 'js/project.js' %}"></script>
{% endblock js %}