{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container-lg my-4">
    <button class="btn bg-green text-white">
        <i class="fas fa-plus"></i>
        <span>Nuevo proyecto</span>
    </button>
    <div class="d-block d-lg-flex justify-content-between align-items-center mt-3">
        <h3 class="cl-green">Proyectos</h3>
        <form class="search d-flex">
            <input type="search" class="form-control" style="width: 265px;" aria-label="search"
                placeholder="Ingrese el nombre del proyecto">
            <button class="btn btn-cyan" type="submit">Buscar</button>
        </form>
    </div>
    <hr>
    <div class="mt-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title cl-green h4">
                            <i class="fa-solid fa-lightbulb"></i>
                            <span>Proyecto N</span>
                        </h5>
                        <p class="card-text">
                            <strong>Descripción: </strong>
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title cl-green h4">
                            <i class="fa-solid fa-lightbulb"></i>
                            <span>Proyecto N</span>
                        </h5>
                        <p class="card-text">
                            <strong>Descripción: </strong>
                            This is a short card.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title cl-green h4">
                            <i class="fa-solid fa-lightbulb"></i>
                            <span>Proyecto N</span>
                        </h5>
                        <p class="card-text">
                            <strong>Descripción: </strong>
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title cl-green h4">
                            <i class="fa-solid fa-lightbulb"></i>
                            <span>Proyecto N</span>
                        </h5>
                        <p class="card-text">
                            <strong>Descripción: </strong>
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title cl-green h4">
                            <i class="fa-solid fa-lightbulb"></i>
                            <span>Proyecto N</span>
                        </h5>
                        <p class="card-text">
                            <strong>Descripción: </strong>
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title cl-green h4">
                            <i class="fa-solid fa-lightbulb"></i>
                            <span>Proyecto N</span>
                        </h5>
                        <p class="card-text">
                            <strong>Descripción: </strong>
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title cl-green h4">
                            <i class="fa-solid fa-lightbulb"></i>
                            <span>Proyecto N</span>
                        </h5>
                        <p class="card-text">
                            <strong>Descripción: </strong>
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
        </ class="mt-3">
    </div>
    {% endblock content %}