<nav class="navbar bg-green">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">
            <i class="fa-solid fa-box-open " width="30" height="24" class="d-inline-block align-text-top"></i>
            Simulador de viabilidad
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item dropdown">
                <a class="nav-link text-white dropdown-toggle p-0 d-flex align-items-center" data-bs-toggle="dropdown"
                    href="#" role="button" aria-expanded="false">
                    <i class="fa-solid fa-circle-user h1 m-0"></i>
                    <span class="ms-3">Usuario</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end mt-2">
                    <li><a class="dropdown-item" href="#">Configuraciones</a></li>
                    <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>