<div>
    <div class="parameters d-flex mt-3">
        <div>
            <label for="tasa-retorno">Tasa de interes de retorno</label>
            <input type="text" id="tasa_retorno" onchange="return editar_tasa_retorno(this)"
                onkeypress="return soloNumeros(event)" onkeyup="return convertDecimal(this)"
                value="{{proyecto.tasa_retorno}}">
        </div>
        <div class="ms-3">
            <label for="periodos">Periodos (años)</label>
            <input type="number" id="periodos" min="1" max="10" value="1" onkeypress="return soloEnteros(event, this)">
        </div>
    </div>
    <div class="content-table-anual table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr id="encabezado-periodos">
                    <th class="static-columns">
                        <div>Inicio</div>
                    </th>
                    <!-- Aquí se debe colocar los valores por cada año  #############-->
                    <th class="text-center" id="encabezado-periodo-1">Año 1</th>
                </tr>
            </thead>
            <tbody>
                <!-- #region Valores de Ingresos -->
                <tr class="table-active padre">
                    <th class="static-columns">
                        <div>Ingresos del proyecto</div>
                    </th>
                    <td colspan="1"></td>
                </tr>
                <tr id="ingresos-anuales">
                    <th class="static-columns">
                        <div>Ingresos</div>
                    </th>
                    <!-- Aquí se debe colocar los valores por cada año  #############-->
                    <td class="text-center" id="ingreso-periodo-1">
                        <div>$ 00,00</div>
                    </td>
                </tr>
                <tr class="bg-green" id="total-ingresos-anuales">
                    <th class="static-columns">
                        <div>Total de ingresos</div>
                    </th>
                    <!-- Aquí se debe colocar los valores por cada año  #############-->
                    <td class="text-center" id="total-ingresos-periodo-1">
                        <div>$ 00,00</div>
                    </td>
                </tr>
                <!-- #endregion -->
                <!-- #region Valores de Egresos -->
                <tr class="table-active padre">
                    <th class="static-columns">
                        <div>Egresos del proyecto</div>
                    </th>
                    <td colspan="1"></td>
                </tr>
                <tr id="costos-a-anuales">
                    <th class="static-columns">
                        <div>Costo de administración</div>
                    </th>
                    <!-- Aquí se debe colocar los valores por cada año  #############-->
                    <td class="text-center" id="costo-a-periodo-1">
                        <div>$ 00,00</div>
                    </td>
                </tr>
                <tr id="costos-p-anuales">
                    <th class="static-columns">
                        <div>Costo de producción</div>
                    </th>
                    <!-- Aquí se debe colocar los valores por cada año  #############-->
                    <td class="text-center" id="costo-p-periodo-1">
                        <div>$ 00,00</div>
                    </td>
                </tr>
                <tr id="costos-i-anuales">
                    <th class="static-columns">
                        <div>Costo de inversión</div>
                    </th>
                    <!-- Aquí se debe colocar los valores por cada año  #############-->
                    <td class="text-center" id="costo-i-periodo-1">
                        <div>$ 00,00</div>
                    </td>
                </tr>
                <tr class="bg-green" id="total-egresos-anuales">
                    <th class="static-columns">
                        <div>Total de egresos</div>
                    </th>
                    <!-- Aquí se debe colocar los valores por cada año  #############-->
                    <td class="text-center" id="total-egresos-periodo-1">
                        <div>$ 00,00</div>
                    </td>
                </tr>
                <!-- #endregion -->
                <!-- #region Calculos -->
                <tr id="fen-anuales">
                    <th class="static-columns" style="padding-top:20px;">
                        <div>FEN</div>
                    </th>
                    <!-- Aquí se debe colocar los valores por cada año  #############-->
                    <td class="text-center fen-anuales" style="padding-top:20px;" id="fen-periodo-1">
                        <div>$ 00,00</div>
                    </td>
                </tr>
                <tr id="fen-acum-anuales">
                    <th class="static-columns">
                        <div>FEN acumulado</div>
                    </th>
                    <!-- Aquí se debe colocar los valores por cada año  #############-->
                    <td class="text-center fen-acum-anuales" id="fen-acum-periodo-1">
                        <div>$ 00,00</div>
                    </td>
                </tr>
                <!-- #endregion -->
            </tbody>
        </table>
    </div>
</div>
<hr class="mt-4">
<div>
    <div class="options">
        <button class="btn btn-purpure" id="btnViabilidadAnual">
            <i class="fa-solid fa-calculator"></i>
            Calcular viabilidad
        </button>
        <button class="btn btn-cyan">
            <i class="fa-solid fa-chart-line"></i>
            Ver gráficos
        </button>
        <button class="btn btn-excel">
            <i class="fa-solid fa-file-excel"></i>
            Descargar excel
        </button>
    </div>
    <div class="result mt-2">
        <div>
            Criterios de evaluación:
            <span id="text-respuesta-anual" style="font-weight: bolder;">
            </span>
        </div>
        <div class="d-flex mt-2">
            <div class="me-5">
                <strong>TIR:</strong> <span id="tir-anual"></span>
            </div>
            <div class="me-5">
                <strong>B/C:</strong> <span id="bc-anual"></span>
            </div>
            <div class="me-5">
                <strong>VAN:</strong> <span id="van-anual"></span>
            </div>
        </div>
        <div class="mt-2">
            <strong>PRI:</strong> <span id="pri-anual"></span>
        </div>
    </div>
</div>