<div>
    <div class="parameters">
        <div>
            <label for="tasa-retorno">Tasa de interes de retorno</label>
            <input type="text">
        </div>
        <div>
            <label for="periodos">Periodos (años)</label>
            <input type="text">
        </div>
    </div>
    <div>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Inicio</th>
                    <th>Año</th>
                </tr>
            </thead>
            <tbody>
                <div id="ct-ingresos">
                    <tr class="table-active">
                        <th colspan="2">Ingresos</th>
                    </tr>
                    <tr>
                        <th>Ingresos</th>
                        <td class="text-center">$00,00</td>
                    </tr>
                    <tr>
                        <th>Total de ingresos</th>
                        <td class="text-center">$00,00</td>
                    </tr>
                </div>
                <div id="ct-egresos">
                    <tr class="table-active">
                        <th colspan="2">Egresos</th>
                    </tr>
                    <tr>
                        <th>Costo de administración</th>
                        <td class="text-center">$00,00</td>
                    </tr>
                    <tr>
                        <th>Costo de producción</th>
                        <td class="text-center">$00,00</td>
                    </tr>
                    <tr>
                        <th>Costo de inversión</th>
                        <td class="text-center">$00,00</td>
                    </tr>
                    <tr>
                        <th>Total de egresos</th>
                    </tr>
                </div>
                <div id="ct-calculo">
                    <tr class="table-active">
                        <th colspan="2">Calculos totales</th>
                    </tr>
                    <tr>
                        <th>FEN</th>
                        <td class="text-center">$00,00</td>
                    </tr>
                    <tr>
                        <th>FEN acumulado</th>
                        <td class="text-center">$00,00</td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="options">
        <button class="btn bg-purpure">
            <i class="fa-solid fa-calculator"></i>
            Calcular viabildiad
        </button>
        <button class="btn bg-cyan">
            <i class="fa-solid fa-chart-line"></i>
            Ver gráficos
        </button>
        <button class="btn bg-excel">
            <i class="fa-solid fa-file-excel"></i>
            Descargar excel
        </button>
    </div>
    <div class="result">

    </div>
</div>