<div>
    <form action="#" method="post">
        <div class="content-table-titulos">
            <table class="table table-borderless" id="table-titulos">
                <thead>
                    <tr>
                        <th>Inicio</th>
                        <th>Enero</th>
                        <th>Febrero</th>
                        <th>Marzo</th>
                        <th>Abril</th>
                        <th>Mayo</th>
                        <th>Junio</th>
                        <th>Julio</th>
                        <th>Agosto</th>
                        <th>Septiembre</th>
                        <th>Octubre</th>
                        <th>Noviembre</th>
                        <th>Diciembre</th>
                    </tr>
                </thead>
                <tbody>
                    <div id="value-ingresos">
                        <tr>
                            <th class="d-flex align-intems-center" colspan="13">
                                <p class="my-auto value-contables">Ingresos</p>
                                <button class="btn btn-sm bg-green ms-3">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </th>
                        </tr>

                        <!-- Aquí debes poner los tr que vas añadiendo con jquey -->

                        <tr class="table-active">
                            <th>Total de ingresos</th>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                        </tr>
                    </div>
                    <div id="value-egresos">
                        <tr>
                            <th class="d-flex align-intems-center" colspan="13">
                                <p class="my-auto value-contables">Egresos</p>
                            </th>
                        </tr>
                        <div id="values-costos-a">
                            <tr>
                                <th class="d-flex align-intems-center" colspan="13">
                                    <p class="my-auto campos-contables">Costos de administración</p>
                                    <button class="btn btn-sm bg-green ms-3">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </th>
                            </tr>
                            <tr class="table-active">
                                <th>Total de costos de administración</th>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                            </tr>
                        </div>
                        <div id="values-costos-p">
                            <tr>
                                <th class="d-flex align-intems-center" colspan="13">
                                    <p class="my-auto campos-contables">Costos de producción</p>
                                    <button class="btn btn-sm bg-green ms-3">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </th>
                            </tr>
                            <tr class="table-active">
                                <th>Total de costos de producción</th>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                            </tr>
                        </div>
                        <div id="values-costos-i">
                            <tr>
                                <th class="d-flex align-intems-center" colspan="13">
                                    <p class="my-auto campos-contables">Costos de inversión</p>
                                    <button class="btn btn-sm bg-green ms-3">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </th>
                            </tr>
                            <tr class="table-active">
                                <th>Total de costos de inversión</th>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                                <td class="text-center">$00,00</td>
                            </tr>
                        </div>
                        <tr class="table-active">
                            <th>Total de egresos</th>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                            <td class="text-center">$00,00</td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
    </form>
</div>
<hr class="mt-4">
<div>
    <div class="options">
        <button class="btn bg-purpure">
            <i class="fa-solid fa-calculator"></i>
            Calcular viabildiad
        </button>
        <button class="btn bg-cyan">
            <i class="fa-solid fa-chart-line"></i>
            Ver gráficos
        </button>
        <button class="btn bg-excel">
            <i class="fa-solid fa-file-excel"></i>
            Descargar excel
        </button>
    </div>
    <div class="result">

    </div>
</div>