<div>
    <div class="content-table-mensual table-responsive">
        <table class="table table-borderless" id="table-mensual">
            <thead>
                <tr>
                    <th class="static-columns">Inicio</th>
                    <th>Enero</th>
                    <th>Febrero</th>
                    <th>Marzo</th>
                    <th>Abril</th>
                    <th>Mayo</th>
                    <th>Junio</th>
                    <th>Julio</th>
                    <th>Agosto</th>
                    <th>Septiembre</th>
                    <th>Octubre</th>
                    <th>Noviembre</th>
                    <th>Diciembre</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <!-- #region Valores de ingresos -->
                <tr id="ingresos">
                    <th class="d-flex align-intems-center static-columns">
                        <p class="my-auto value-contables">Ingresos</p>
                        <button class="btn btn-sm btn-green ms-3 btnAggActividad" type="button">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </th>
                </tr>

                <!-- Aquí debes poner los tr que vas añadiendo con jquey -->

                <tr class="table-active">
                    <th class="static-columns">Total de ingresos</th>
                    <td class="text-center" id="total-ingresos-mes-1">$ 00,00</td>
                    <td class="text-center" id="total-ingresos-mes-2">$ 00,00</td>
                    <td class="text-center" id="total-ingresos-mes-3">$ 00,00</td>
                    <td class="text-center" id="total-ingresos-mes-4">$ 00,00</td>
                    <td class="text-center" id="total-ingresos-mes-5">$ 00,00</td>
                    <td class="text-center" id="total-ingresos-mes-6">$ 00,00</td>
                    <td class="text-center" id="total-ingresos-mes-7">$ 00,00</td>
                    <td class="text-center" id="total-ingresos-mes-8">$ 00,00</td>
                    <td class="text-center" id="total-ingresos-mes-9">$ 00,00</td>
                    <td class="text-center" id="total-ingresos-mes-10">$ 00,00</td>
                    <td class="text-center" id="total-ingresos-mes-11">$ 00,00</td>
                    <td class="text-center" id="total-ingresos-mes-12">$ 00,00</td>
                    <td class="text-center" id="total-ingresos">$ 00,00</td>
                </tr>
                <!-- #endregion -->

                <!-- #region Valores de egresos -->
                <tr>
                    <th class="d-flex align-intems-center static-columns">
                        <p class="my-auto value-contables">Egresos</p>
                    </th>
                </tr>

                <!-- #region Valores de costos administrativos -->
                <tr id="costos-a">
                    <th class="d-flex align-intems-center static-columns">
                        <p class="my-auto campos-contables">Costos de administración</p>
                        <button class="btn btn-sm btn-green ms-3 btnAggActividad" type="button">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </th>
                </tr>
                <tr class="table-active">
                    <th class="static-columns">Total de costos de administración</th>
                    <td class="text-center" id="total-costos-a-mes-1">$ 00,00</td>
                    <td class="text-center" id="total-costos-a-mes-2">$ 00,00</td>
                    <td class="text-center" id="total-costos-a-mes-3">$ 00,00</td>
                    <td class="text-center" id="total-costos-a-mes-4">$ 00,00</td>
                    <td class="text-center" id="total-costos-a-mes-5">$ 00,00</td>
                    <td class="text-center" id="total-costos-a-mes-6">$ 00,00</td>
                    <td class="text-center" id="total-costos-a-mes-7">$ 00,00</td>
                    <td class="text-center" id="total-costos-a-mes-8">$ 00,00</td>
                    <td class="text-center" id="total-costos-a-mes-9">$ 00,00</td>
                    <td class="text-center" id="total-costos-a-mes-10">$ 00,00</td>
                    <td class="text-center" id="total-costos-a-mes-11">$ 00,00</td>
                    <td class="text-center" id="total-costos-a-mes-12">$ 00,00</td>
                    <td class="text-center" id="total-costos-a">$ 00,00</td>
                </tr>
                <!-- #endregion -->

                <!-- #region Valores de costos de producción -->
                <div id="values-costos-p">
                    <tr id="costos-p">
                        <th class="d-flex align-intems-center static-columns">
                            <p class="my-auto campos-contables">Costos de producción</p>
                            <button class="btn btn-sm btn-green ms-3 btnAggActividad" type="button">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </th>
                    </tr>
                    <tr class="table-active">
                        <th class="static-columns">Total de costos de producción</th>
                        <td class="text-center" id="total-costos-p-mes-1">$ 00,00</td>
                        <td class="text-center" id="total-costos-p-mes-2">$ 00,00</td>
                        <td class="text-center" id="total-costos-p-mes-3">$ 00,00</td>
                        <td class="text-center" id="total-costos-p-mes-4">$ 00,00</td>
                        <td class="text-center" id="total-costos-p-mes-5">$ 00,00</td>
                        <td class="text-center" id="total-costos-p-mes-6">$ 00,00</td>
                        <td class="text-center" id="total-costos-p-mes-7">$ 00,00</td>
                        <td class="text-center" id="total-costos-p-mes-8">$ 00,00</td>
                        <td class="text-center" id="total-costos-p-mes-9">$ 00,00</td>
                        <td class="text-center" id="total-costos-p-mes-10">$ 00,00</td>
                        <td class="text-center" id="total-costos-p-mes-11">$ 00,00</td>
                        <td class="text-center" id="total-costos-p-mes-12">$ 00,00</td>
                        <td class="text-center" id="total-costos-p">$ 00,00</td>
                    </tr>
                </div>
                <!-- #endregion -->

                <!-- #region Valores de costos de inversión -->
                <tr id="costos-i">
                    <th class="d-flex align-intems-center static-columns">
                        <p class="my-auto campos-contables">Costos de inversión</p>
                        <button class="btn btn-sm btn-green ms-3 btnAggActividad" type="button">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </th>
                </tr>
                <tr class="table-active">
                    <th class="static-columns">Total de costos de inversión</th>
                    <td class="text-center" id="total-costos-i-mes-1">$ 00,00</td>
                    <td class="text-center" id="total-costos-i-mes-2">$ 00,00</td>
                    <td class="text-center" id="total-costos-i-mes-3">$ 00,00</td>
                    <td class="text-center" id="total-costos-i-mes-4">$ 00,00</td>
                    <td class="text-center" id="total-costos-i-mes-5">$ 00,00</td>
                    <td class="text-center" id="total-costos-i-mes-6">$ 00,00</td>
                    <td class="text-center" id="total-costos-i-mes-7">$ 00,00</td>
                    <td class="text-center" id="total-costos-i-mes-8">$ 00,00</td>
                    <td class="text-center" id="total-costos-i-mes-9">$ 00,00</td>
                    <td class="text-center" id="total-costos-i-mes-10">$ 00,00</td>
                    <td class="text-center" id="total-costos-i-mes-11">$ 00,00</td>
                    <td class="text-center" id="total-costos-i-mes-12">$ 00,00</td>
                    <td class="text-center" id="total-costos-i">$ 00,00</td>
                </tr>
                <!-- #endregion -->

                <!-- #region Totales de egresos -->
                <tr class="table-active">
                    <th class="static-columns">Total de egresos</th>
                    <td class="text-center" id="total-egresos-mes-1">$ 00,00</td>
                    <td class="text-center" id="total-egresos-mes-2">$ 00,00</td>
                    <td class="text-center" id="total-egresos-mes-3">$ 00,00</td>
                    <td class="text-center" id="total-egresos-mes-4">$ 00,00</td>
                    <td class="text-center" id="total-egresos-mes-5">$ 00,00</td>
                    <td class="text-center" id="total-egresos-mes-6">$ 00,00</td>
                    <td class="text-center" id="total-egresos-mes-7">$ 00,00</td>
                    <td class="text-center" id="total-egresos-mes-8">$ 00,00</td>
                    <td class="text-center" id="total-egresos-mes-9">$ 00,00</td>
                    <td class="text-center" id="total-egresos-mes-10">$ 00,00</td>
                    <td class="text-center" id="total-egresos-mes-11">$ 00,00</td>
                    <td class="text-center" id="total-egresos-mes-12">$ 00,00</td>
                    <td class="text-center" id="total-ingresos">$ 00,00</td>
                </tr>
                <!-- #endregion -->
                
                 <!-- #region FEN (Ingresos - Egresos) -->
                 <tr class="table-active">
                    <th class="static-columns">FEN</th>
                    <td class="text-center" id="total-fen-mes-1">$ 00,00</td>
                    <td class="text-center" id="total-fen-mes-2">$ 00,00</td>
                    <td class="text-center" id="total-fen-mes-3">$ 00,00</td>
                    <td class="text-center" id="total-fen-mes-4">$ 00,00</td>
                    <td class="text-center" id="total-fen-mes-5">$ 00,00</td>
                    <td class="text-center" id="total-fen-mes-6">$ 00,00</td>
                    <td class="text-center" id="total-fen-mes-7">$ 00,00</td>
                    <td class="text-center" id="total-fen-mes-8">$ 00,00</td>
                    <td class="text-center" id="total-fen-mes-9">$ 00,00</td>
                    <td class="text-center" id="total-fen-mes-10">$ 00,00</td>
                    <td class="text-center" id="total-fen-mes-11">$ 00,00</td>
                    <td class="text-center" id="total-fen-mes-12">$ 00,00</td>
                    <td class="text-center" id="total-fen">$ 00,00</td>
                </tr>
                <!-- #endregion -->

                 <!-- #region FEN acumulado -->
                 <tr class="table-active">
                    <th class="static-columns">FEN Acumulado</th>
                    <td class="text-center" id="total-fen-acum-mes-1">$ 00,00</td>
                    <td class="text-center" id="total-fen-acum-mes-2">$ 00,00</td>
                    <td class="text-center" id="total-fen-acum-mes-3">$ 00,00</td>
                    <td class="text-center" id="total-fen-acum-mes-4">$ 00,00</td>
                    <td class="text-center" id="total-fen-acum-mes-5">$ 00,00</td>
                    <td class="text-center" id="total-fen-acum-mes-6">$ 00,00</td>
                    <td class="text-center" id="total-fen-acum-mes-7">$ 00,00</td>
                    <td class="text-center" id="total-fen-acum-mes-8">$ 00,00</td>
                    <td class="text-center" id="total-fen-acum-mes-9">$ 00,00</td>
                    <td class="text-center" id="total-fen-acum-mes-10">$ 00,00</td>
                    <td class="text-center" id="total-fen-acum-mes-11">$ 00,00</td>
                    <td class="text-center" id="total-fen-acum-mes-12">$ 00,00</td>
                    <td class="text-center" id="total-fen-acum">$ 00,00</td>
                </tr>
                <!-- #endregion -->
            </tbody>
        </table>
    </div>
</div>
<hr class="mt-4">
<div>
    <div class="options">
        <button class="btn btn-purpure">
            <i class="fa-solid fa-calculator"></i>
            Calcular viabildiad
        </button>
        <button class="btn btn-cyan">
            <i class="fa-solid fa-chart-line"></i>
            Ver gráficos
        </button>
        <button class="btn btn-excel">
            <i class="fa-solid fa-file-excel"></i>
            Descargar excel
        </button>
    </div>
    <div class="result mt-2">
        <div>
            Criterios de evaluación:
            <span id="text-respuesta" class="text-danger" style="font-weight: bolder;">
                Ups, parece que tu proyecto no es viable!
            </span>
        </div>
        <div class="d-flex mt-2">
            <div class="me-5">
                <strong>TIR:</strong> <span id="TIR">0%</span>
            </div>
            <div class="me-5">
                <strong>B/C:</strong> <span id="BC">$-1,25</span>
            </div>
            <div class="me-5">
                <strong>VAN:</strong> <span dir="VAN">$10,00</span>
            </div>
        </div>
        <div class="mt-2">
            <strong>PRI:</strong> <span id="PRI">11 años, 7 meses y 15 días</span>
        </div>
    </div>
</div>